@font-face {
  font-family: "STAR JEDI";
  font-style: normal;
  font-weight: normal;
  src: local("STAR JEDI") url("Starjedi.ttf") format("truetype");
}

body,
html {
  font-family: "STAR JEDI";
  background-color: #282c34;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
